<% include ../partials/boilerplate %>

<div class="container">
  <a href="todo-add"><button>Create new </button></a>
  <br>
  <br>

  <div class="task-card">
    <% data.forEach((todo)=>{ %>
    <ul>
    <!-- <li>id: <%= todo.id %></li> -->
    <li>Task: <%= todo.task %></li>
    <li>Category: <%= todo.category %></li>
    <li>Info: <%= todo.info %></li>
    <li>Status: <%= todo.status %></li>
    </ul>
    <a href="/todo/<%=todo.id%>"><button>Info</button></a>
    <br>
    <br>
    <% }) %>

  </div>


</div>


<% include ../partials/end %>
